<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">About</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
  </ion-header-bar>

  <ion-content class="padding">
    <h4>Note</h4>
    <p><italic>Remember to turn on your speaker</italic></p>
    <br>
    
    <h4>When You Needs This App</h4>
    <ul class="listCircle">
      <li>- When girlfriend don't let you play dota.</li>
      <li>- When parents Pull Plug your modem.</li>
      <li>- When you're in dota 2 but you miss dota.</li>
      <li>- When you cannot sleep at night and you need some heros shout.</li>
      <li>- Last, You can also use this app in the boring class</li>
    </ul>
    <br>

    <h4>Media Files</h4>
    <p>The background image, app icon and sounds are copyrighted by Blizzard Entertainment.</p>
    <br>

    <h4>Codes Use</h4>
    <p>
    - AngularJS<br>
    - ionicframework<br>
    - Apache Cordova<br>
    </p>
    <br>

    <h4>Other Platforms</h4>
    Android
    Web
    <br>
    <br>

    <h4>Author</h4>
    wcchok@gmail.com
  </ion-content>
</ion-modal-view>